In [1]:
import pandas as pd

In [2]:
df15 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_15.csv")
df16 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_16.csv")
df17 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_17.csv")
df18 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_18.csv")
df19 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_19.csv")
df20 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_20.csv")
df21 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_21.csv")
df22 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_22.csv")
df23 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\georgia_income_23.csv")

In [3]:
df15['year'] = 2015
df16['year'] = 2016
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020
df21['year'] = 2021
df22['year'] = 2022
df23['year'] = 2023

In [4]:
# Combine them vertically
df_all = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22, df23], ignore_index=True)

In [5]:
# Split NAME column into County and State
df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

C:\Users\athar\AppData\Local\Temp\ipykernel_9796\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_9796\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

In [6]:
# Clean up extra spaces
df_all['County'] = df_all['County'].str.strip()
df_all['State'] = df_all['State'].str.strip()

In [7]:
# Drop the original NAME column if not needed
df_all = df_all.drop(columns=['NAME'])

In [9]:
# Delete row at index 0
df_all = df_all.drop(0)

In [10]:
# Reset index after deletion
df_all = df_all.reset_index(drop=True)

In [11]:
df_all.head()

,GEO_ID,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,S1901_C01_002E,...,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130,year,County,State
0,0500000US13001,6812,235,4736,306,3461,305,2076,262,13.2,...,(X),(X),(X),(X),36.3,(X),NaN,2015,Appling County,Georgia
1,0500000US13003,2772,112,1861,151,1343,136,911,121,12.2,...,(X),(X),(X),(X),29.4,(X),NaN,2015,Atkinson County,Georgia
2,0500000US13005,3951,172,2698,195,2074,196,1253,185,11.9,...,(X),(X),(X),(X),54.0,(X),NaN,2015,Bacon County,Georgia
3,0500000US13007,1291,124,864,80,617,87,427,114,13.9,...,(X),(X),(X),(X),56.0,(X),NaN,2015,Baker County,Georgia
4,0500000US13009,15978,477,9198,497,5823,535,6780,509,16.3,...,(X),(X),(X),(X),42.3,(X),NaN,2015,Baldwin County,Georgia

In [12]:
# Remove the word "County" from County column
df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

In [13]:
# Reorder columns: GEO_ID, year, County, State, then the rest
cols = df_all.columns.tolist()

In [14]:
# Ensure order
new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]

In [15]:
df_all = df_all[new_order]

In [16]:
keep = [
    "GEO_ID", "NAME", "State", "County", "year",
    "S1901_C01_001E",      # total households
    "S1901_C01_012E"       # mean household income (avg per household)
]

In [17]:
# Filter to the columns that exist, then rename
existing = [c for c in keep if c in df_all.columns]

In [18]:
renamed = {
    "S1901_C01_001E": "Number of households",
    "S1901_C01_012E": "Average income (per household)",
    "NAME": "Geographic Area Name"
}

In [19]:
df_out = df_all[existing].rename(columns=renamed)

In [20]:
df_out.head()

,GEO_ID,State,County,year,Number of households,Average income (per household)
0,0500000US13001,Georgia,Appling,2015,6812,37135
1,0500000US13003,Georgia,Atkinson,2015,2772,30933
2,0500000US13005,Georgia,Bacon,2015,3951,37162
3,0500000US13007,Georgia,Baker,2015,1291,44297
4,0500000US13009,Georgia,Baldwin,2015,15978,32460

In [21]:
keep_county = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\appalachian_counties.csv")

In [22]:
keep_gg = keep_county[keep_county["state"] == "Georgia"]

In [23]:
# Make a set of counties from keep_alabama
gg_counties = set(keep_gg["county"])

In [26]:
# Keep only rows in df_out where 'County' is in that list
df_out2 = df_out[df_out["County"].isin(gg_counties)]

In [ ]:
df_out2.head()

,GEO_ID,State,County,year,Number of households,Average income (per household)
5,0500000US13011,Georgia,Banks,2015,6553,41472
6,0500000US13013,Georgia,Barrow,2015,23560,52012
7,0500000US13015,Georgia,Bartow,2015,35732,48893
21,0500000US13045,Georgia,Carroll,2015,40074,43586
22,0500000US13047,Georgia,Catoosa,2015,23943,50876

In [27]:
df_out2.to_csv("df_out2.csv", index=False)