In [1]:
import pandas as pd

In [2]:
df15 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_15.csv")
df16 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_16.csv")
df17 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_17.csv")
df18 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_18.csv")
df19 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_19.csv")
df20 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_20.csv")
df21 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_21.csv")
df22 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_22.csv")
df23 = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\income\penn_income_23.csv")

In [3]:
df15['year'] = 2015
df16['year'] = 2016
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020
df21['year'] = 2021
df22['year'] = 2022
df23['year'] = 2023

In [4]:
df_all = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22, df23], ignore_index=True)

In [5]:
# Split NAME column into County and State
df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

C:\Users\athar\AppData\Local\Temp\ipykernel_37144\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_37144\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

In [6]:
# Clean up extra spaces
df_all['County'] = df_all['County'].str.strip()
df_all['State'] = df_all['State'].str.strip()

In [7]:
# Drop the original NAME column if not needed
df_all = df_all.drop(columns=['NAME'])

In [8]:
# Delete row at index 0
df_all = df_all.drop(0)
# Reset index after deletion
df_all = df_all.reset_index(drop=True)

In [ ]:
# Remove the word "County" from County column
df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

In [10]:
# Reorder columns: GEO_ID, year, County, State, then the rest
cols = df_all.columns.tolist()

In [11]:
# Ensure order
new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]

In [12]:
keep = [
    "GEO_ID", "NAME", "State", "County", "year",
    "S1901_C01_001E",      # total households
    "S1901_C01_012E"       # mean household income (avg per household)
]

In [13]:
# Filter to the columns that exist, then rename
existing = [c for c in keep if c in df_all.columns]

In [14]:
renamed = {
    "S1901_C01_001E": "Number of households",
    "S1901_C01_012E": "Average income (per household)",
    "NAME": "Geographic Area Name"
}

In [15]:
df_out = df_all[existing].rename(columns=renamed)

In [16]:
keep_county = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\appalachian_counties.csv")

In [17]:
keep_penn = keep_county[keep_county["state"] == "Pennsylvania"]

In [18]:
penn_counties = set(keep_penn["county"])

In [19]:
# Keep only rows in df_out where 'County' is in that list
df_out9 = df_out[df_out["County"].isin(penn_counties)]

In [20]:
df_out9.head()

,GEO_ID,State,County,year,Number of households,Average income (per household)
1,0500000US42003,Pennsylvania,Allegheny,2015,529534,53040
2,0500000US42005,Pennsylvania,Armstrong,2015,28524,44942
3,0500000US42007,Pennsylvania,Beaver,2015,70079,50581
4,0500000US42009,Pennsylvania,Bedford,2015,20000,45930
6,0500000US42013,Pennsylvania,Blair,2015,51034,43981

In [22]:
df_out9.to_csv("df_out9.csv", index=False)