In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore', category=pd.errors.DtypeWarning)

In [3]:
# Basic CSV reading
df15 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_15.csv')
df16 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_16.csv')
df17 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_17.csv')
df18 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_18.csv')
df19 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_19.csv')
df20 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_20.csv')
df21 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_21.csv')
df22 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_22.csv')
df23 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\ny_poverty_23.csv')

In [4]:
df15['year'] = 2015
df16['year'] = 2016
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020
df21['year'] = 2021
df22['year'] = 2022
df23['year'] = 2023

In [5]:
# Combine them vertically
df_all = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22, df23], ignore_index=True)

In [6]:
# Split NAME column into County and State
df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

C:\Users\athar\AppData\Local\Temp\ipykernel_41104\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_41104\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

In [7]:
# Clean up extra spaces
df_all['County'] = df_all['County'].str.strip()
df_all['State'] = df_all['State'].str.strip()

In [8]:
# Drop the original NAME column if not needed
df_all = df_all.drop(columns=['NAME'])

In [9]:
# Delete row at index 0
df_all = df_all.drop(0)
# Reset index after deletion
df_all = df_all.reset_index(drop=True)

In [10]:
# Remove the word "County" from County column
df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

In [11]:
# Reorder columns: GEO_ID, year, County, State, then the rest
cols = df_all.columns.tolist()

In [12]:
# Ensure order
new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]

In [13]:

df_all = df_all[new_order]

In [14]:
keep = [
    "GEO_ID", "NAME", "State", "County", "year",
    "S1701_C01_001E",      # Total Population
    "S1701_C02_001E",       # Population Below Poverty
    "S1701_C03_001E",       #Percent Below Poverty
    "S1701_C01_024E",       #Adults with High School
    "S1701_C03_024E",       #Percent Adults with High School
    "S1701_C01_026E",       #Adults with College Degree
    "S1701_C03_026E"        #Percent Adults with College Degree
]

In [15]:
# Filter to the columns that exist, then rename
existing = [c for c in keep if c in df_all.columns]

In [16]:
renamed = {
    "S1701_C01_001E": "Total Population",
    "S1701_C02_001E": "Population Below Poverty",     
    "S1701_C03_001E": "Percent Below Poverty",      
    "S1701_C01_024E": "Adults with High School",       
    "S1701_C03_024E": "Percent Adults with High School",       
    "S1701_C01_026E": "Adults with College Degree",       
    "S1701_C03_026E": "Percent Adults with College Degree"       
}

In [17]:
df_out = df_all[existing].rename(columns=renamed)

In [18]:
keep_county = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\appalachian_counties.csv")

In [19]:
keep_ny = keep_county[keep_county["state"] == "New York"]

In [20]:
ny_counties = set(keep_ny["county"])

In [21]:
# Keep only rows in df_out where 'County' is in that list
df_out7 = df_out[df_out["County"].isin(ny_counties)]

In [22]:
df_out7.head()

,GEO_ID,State,County,year,Total Population,Population Below Poverty,Percent Below Poverty,Adults with High School,Percent Adults with High School,Adults with College Degree,Percent Adults with College Degree
1,0500000US36003,New York,Allegany,2015,43104,7285,16.9,11587,14.9,6084,3.9
3,0500000US36007,New York,Broome,2015,188107,33615,17.9,40895,15.2,35461,5.7
4,0500000US36009,New York,Cattaraugus,2015,76421,13954,18.3,21607,14.4,9434,5.0
6,0500000US36013,New York,Chautauqua,2015,126525,23894,18.9,31228,15.9,18696,4.4
7,0500000US36015,New York,Chemung,2015,82553,13044,15.8,19843,14.3,14053,4.0

In [23]:
df_out7.to_csv("df_out7.csv", index=False)