In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore', category=pd.errors.DtypeWarning)

In [3]:
# Basic CSV reading
df15 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_15.csv')
df16 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_16.csv')
df17 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_17.csv')
df18 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_18.csv')
df19 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_19.csv')
df20 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_20.csv')
df21 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_21.csv')
df22 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_22.csv')
df23 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\poverty\sc_poverty_23.csv')

In [4]:
df15['year'] = 2015
df16['year'] = 2016
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020
df21['year'] = 2021
df22['year'] = 2022
df23['year'] = 2023

In [5]:
# Combine them vertically
df_all = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22, df23], ignore_index=True)

In [6]:
# Split NAME column into County and State
df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

C:\Users\athar\AppData\Local\Temp\ipykernel_23668\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_23668\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

In [7]:
# Clean up extra spaces
df_all['County'] = df_all['County'].str.strip()
df_all['State'] = df_all['State'].str.strip()

In [8]:
# Drop the original NAME column if not needed
df_all = df_all.drop(columns=['NAME'])

In [9]:
# Delete row at index 0
df_all = df_all.drop(0)
# Reset index after deletion
df_all = df_all.reset_index(drop=True)

In [10]:
# Remove the word "County" from County column
df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

In [11]:
# Reorder columns: GEO_ID, year, County, State, then the rest
cols = df_all.columns.tolist()

In [12]:
# Ensure order
new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]

In [13]:

df_all = df_all[new_order]

In [14]:
keep = [
    "GEO_ID", "NAME", "State", "County", "year",
    "S1701_C01_001E",      # Total Population
    "S1701_C02_001E",       # Population Below Poverty
    "S1701_C03_001E",       #Percent Below Poverty
    "S1701_C01_024E",       #Adults with High School
    "S1701_C03_024E",       #Percent Adults with High School
    "S1701_C01_026E",       #Adults with College Degree
    "S1701_C03_026E"        #Percent Adults with College Degree
]

In [15]:
# Filter to the columns that exist, then rename
existing = [c for c in keep if c in df_all.columns]

In [16]:
renamed = {
    "S1701_C01_001E": "Total Population",
    "S1701_C02_001E": "Population Below Poverty",     
    "S1701_C03_001E": "Percent Below Poverty",      
    "S1701_C01_024E": "Adults with High School",       
    "S1701_C03_024E": "Percent Adults with High School",       
    "S1701_C01_026E": "Adults with College Degree",       
    "S1701_C03_026E": "Percent Adults with College Degree"       
}

In [17]:
df_out = df_all[existing].rename(columns=renamed)

In [18]:
keep_county = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\appalachian_counties.csv")

In [19]:
keep_sc = keep_county[keep_county["state"] == "South Carolina"]

In [20]:
sc_counties = set(keep_sc["county"])

In [21]:
# Keep only rows in df_out where 'County' is in that list
df_out10 = df_out[df_out["County"].isin(sc_counties)]

In [22]:
df_out10.head()

,GEO_ID,State,County,year,Total Population,Population Below Poverty,Percent Below Poverty,Adults with High School,Percent Adults with High School,Adults with College Degree,Percent Adults with College Degree
3,0500000US45007,South Carolina,Anderson,2015,188534,30915,16.4,40666,14.2,25194,3.8
10,0500000US45021,South Carolina,Cherokee,2015,55054,13093,23.8,13511,19.0,5626,3.9
22,0500000US45045,South Carolina,Greenville,2015,462771,72169,15.6,82222,15.9,101535,3.0
36,0500000US45073,South Carolina,Oconee,2015,74271,14897,20.1,16942,13.7,12202,3.2
38,0500000US45077,South Carolina,Pickens,2015,112637,22545,20.0,23590,13.5,16593,5.0

In [23]:
df_out10.to_csv("df_out10.csv", index=False)