In [2]:

import pandas as pd
import glob

In [3]:
import warnings
warnings.filterwarnings('ignore', category=pd.errors.DtypeWarning)

In [4]:
files = sorted(glob.glob("df_out*.csv"))

In [5]:
dfs = [pd.read_csv(f) for f in files]

In [6]:
# Concatenate into one DataFrame
df_final = pd.concat(dfs, ignore_index=True)

In [7]:
df_final.columns = [col.strip().lower().replace(' ', '_') for col in df_final.columns]

In [10]:
df_final = df_final.rename(columns={"state": "state_name"})

In [11]:
print(df_final.shape)
df_final.head()

(3294, 6)

,geo_id,state_name,county,year,number_of_households,average_income_(per_household)
0,0500000US01007,Alabama,Bibb,2015,7027,38678
1,0500000US01009,Alabama,Blount,2015,20816,45813
2,0500000US01015,Alabama,Calhoun,2015,45154,41703
3,0500000US01017,Alabama,Chambers,2015,13787,34177
4,0500000US01019,Alabama,Cherokee,2015,11278,36296

In [12]:
df_final.to_csv("income.csv", index=False)